<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336030383312-ar5hfuc6913505p0ngdb0sis1serde52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336030383312-ar5hfuc6913505p0ngdb0sis1serde52</string>
	<key>API_KEY</key>
	<string>AIzaSyAoDB-d6P3VG7MhusZh4tD3a6JwahkjDEI</string>
	<key>GCM_SENDER_ID</key>
	<string>336030383312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Prasun.SummerProject</string>
	<key>PROJECT_ID</key>
	<string>summerproject-52b70</string>
	<key>STORAGE_BUCKET</key>
	<string>summerproject-52b70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336030383312:ios:a6c910cc75bb09b24af2d5</string>
	<key>DATABASE_URL</key>
	<string>https://summerproject-52b70.firebaseio.com</string>
</dict>
</plist>